<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<style>
    body{margin: 0 500px; }
    a{color: #e1103a}
    #product {margin: 20px 0}
    #product span {font-weight: bold}
    #util form {margin-bottom: 5px}
</style>
<body>
    <div id="add-product">
        <h2>상품 등록</h2>
        <form method="post" th:action="@{/f1/admin/product}">
            <label>상품명</label><input name="productName"><br>
            <label>금액</label><input type="number" name="price"><br>
            <label>재고</label><input type="number" name="stock"><br>
            <button>상품 등록</button>
        </form>
    </div>
    <div>
        <h2>상품 조회</h2>
        <form method="get" th:action="@{/f1/admin/product}">
            <input placeholder="productID" name="productId" value="productId" type="number"><button>검색</button>
        </form>
            <div th:if="${foundProduct}">
                <div id="product">
                    <span th:text="${foundProduct.productId}">아이디</span>
                    <span th:text="${foundProduct.productName}">이름</span>
                    <span th:text="${foundProduct.price}">가격</span>
                    <span th:text="${foundProduct.stock}">재고</span>
                    <span th:text="${foundProduct.restock}">재입고여부</span>
                    <span th:text="${foundProduct.saleFinished}">판매종료여부</span>
                </div>
                <div id="util">
                    <form method="post" th:action="@{/f1/admin/stock}">
                        <input type="hidden" name="productId" th:value="${foundProduct.productId}">
                        <label>재고 수정</label>
                        <input name="stock" type="number"><button>수정</button>
                    </form>
<!--                    <form method="post" th:action="@{/f1/admin/product}">-->
<!--                        <input type="hidden" name="productId" th:value="${foundProduct.productId}">-->
<!--                        <label>상품 삭제</label>-->
<!--                        <button>삭제</button>-->
<!--                    </form>-->
                    <form method="post" th:action="@{/f1/admin/restock}" >
                        <input type="hidden" name="productId" th:value="${foundProduct.productId}">
                        <label>재입고 여부</label>
                        <input type="checkbox">
                        <button>반영</button>
                    </form>
                    <form method="post" th:action="@{/f1/admin/saleFinished}">
                        <input type="hidden" name="productId" th:value="${foundProduct.productId}">
                        <label>판매종료</label>
                        <input type="checkbox">
                        <button>반영</button>
                    </form>
                </div>

            </div>
    </div>
    <div>
        <h2>펀딩 조회</h2>
        <form method="get" th:action="@{/f1/admin/funding}">
            <input placeholder="FundingID" name="fundingId" type="number">
            <button>검색</button>
        </form>
        <div th:if="${foundFunding}">
            <span th:text="${foundFunding.fundingId}">펀딩ID</span>
            <span th:text="${foundFunding.memberId}">사용자ID</span>
            <span><a>정지</a></span>
        </div>
    </div>
    <div>
        <h2>사용자 검색</h2>
        <form method="get" th:action="@{/f1/admin/member}">
            <input placeholder="MemberID" name="memberId" type="number">
            <button>검색</button>
        </form>
        <div th:if="${foundMember}">
            <span th:text="${foundMember.memberName}">이름</span>
            <span th:text="${foundMember.email}">이메일</span>
            <span><a>정지</a></span>
        </div>
    </div>
    <div>
        <h2>결제 수단 등록</h2>
        <form method="post" th:action="@{/f1/admin/paymentMethod}">
            <label>코드</label><input type="number" name="code"><br>
            <label>결제 수단명</label><input name="paymentName"><br>
            <label>계좌번호</label><input name="accountNumber"><br>
            <label>잔고</label><input type="number" name="availableAmount"><br>
            <button>결제 수단 등록</button>
        </form>
        <div th:if="${paymentList}" th:each="payment : ${paymentList}">
            <span th:text="${payment.code}">아이디</span>
            <span th:text="${payment.paymeneName}">이름</span>
            <span th:text="${payment.accountNumber}">이메일</span>
            <span><a th:href="@{/admin/paymentDelete(paymentId=${payment.id})}">삭제</a></span>
        </div>
    </div>
</body>
</html>