<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<style>
    body{padding: 0 90px; margin: 100px auto; width: 500px}
    button{width:100%; margin:80px 0; padding:15px; background-color: #E9E9FAFF; color: #4949CCFF; border:none; border-radius: 5px; }
</style>
<body>
    <div>
        <h3>product name</h3>
        <p>product 달성률</p>
        <p>product 금액</p>
        <p>product 현재 모금액</p>
        <button>펀딩하기</button>
    </div>
</body>
</html>