<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<style>
    body{padding: 0 90px; margin: 100px auto; width: 500px}
    button{width:100%; margin:50px 0; padding:15px; background-color: #E9E9FAFF; color: #4949CCFF; border:none; border-radius: 5px; }
    p {border-radius: 5px; border: 1px solid #bfbdbd; padding: 20px }
    input {border-radius: 5px;  box-sizing: border-box;width: 100%; border: 1px solid #bfbdbd; padding: 20px }
    p:nth-of-type(1){color: #4b85ff; font-weight: bolder}
    h3 {margin-top: 30px}
</style>
<body>
    <div>
        <h2 th:text="${funding.getProductName()}">product name</h2>
        <h3>펀딩 주최</h3>
        <p th:unless="${funding.groupName != null}" th:text="${funding.memberName}"></p>
        <p th:if="${funding.groupName != null}" th:text="${funding.groupName}"></p>
        <h3>달성률</h3>
        <p th:text="${funding.getProgress()} + '%'">product 달성률</p>
        <h3>목표 금액</h3>
        <p th:text="${funding.getTotalFundingAmount()} + '원'">product 금액</p>
        <h3>현재 모금액</h3>
        <p th:text="${funding.getCurrentFundingAmount()} + '원'">product 모금 금액</p>
        <h3>참여 금액</h3>
        <form method="post" th:action="@{/f1/detail}">
            <input type="hidden" name="fundingId" th:value="${funding.getFundingId()}">
            <input type="number" name="amount" placeholder="참여하고 싶은 금액을 입력하세요.">
            <button >펀딩 참여하기</button>
        </form>
    </div>
</body>
</html>