<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friend</title>
</head>
<style>
    body{padding: 0 90px; margin: 100px auto; width: 500px}
    button{width:100%; margin:80px 0; padding:15px; background-color: #E9E9FAFF; color: #4949CCFF; border:none; border-radius: 5px; }
</style>
<body>
<div>
    <h2>친구 관리</h2>
<!--    <div>-->
<!--        <p>친구 리스트</p>-->
<!--        <ul th:if="${friends}">-->
<!--            <li th:each="friend : ${friends}" th:text="${friend.memberName}">친구 이름</li>-->
<!--        </ul>-->
<!--    </div>-->
    <div>
        <p>친구 검색</p>
    </div>
    <div>
        <p>받은 요청</p>
    </div>
    <div>
        <p>친구 추가</p>
    </div>
</div>
</body>
</html>