<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friend</title>
</head>
<style>
    header {display: flex; justify-content: space-between; }
    #header-right{ margin: 20px 20px}
    header button {padding: 15px 25px; background-color: #e9e9fa; color: #4949cc; border-radius: 5px; border: none}
    #header-right a{text-decoration: none; padding: 10px 20px; color: black}
    body{padding: 0 90px; margin: 100px auto; width: 500px}
    button{width:100%; margin:80px 0; padding:15px; background-color: #E9E9FAFF; color: #4949CCFF; border:none; border-radius: 5px; }
</style>
<a th:href="@{/index}">Home</a>
<body>
<div>
    <h2>친구 관리</h2>
    <div>
        <p>친구 리스트</p>
        <ul>
            <li th:each="friends : ${myFriends}" th:text="${friends.memberName}">친구 이름</li>
            <p id="no-friend" th:unless="${myFriends.size() > 0}">친구를 만들어 보세요.</p>
        </ul>
    </div>
    <div>
        <p>친구 검색</p>
        <form method="get">
            <input name="friendName" id="friendName" placeholder="검색할 친구의 이름를 입력하세요.">

        </form>
    </div>
    <div>
        <p>받은 요청</p>
        <ul>
            <li th:each="request : ${myRequests}" th:text="${request.requesterName}">요청자 이름</li>
            <p id="no-request" th:unless="${myRequests.size() > 0}">요청이 없습니다.</p>
        </ul>
    </div>
    <div>
        <p>친구 추가</p>
        <form method="get">
            <input name="memberId" id="memberId" placeholder="추가할 친구의 ID를 입력하세요.">

        </form>
    </div>
</div>
</body>
</html>