<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friend</title>
</head>
<style>
    body{padding: 0 90px; margin: 100px auto; width: 500px}
    ul{border: 1px solid gray; height: 200px; border-radius: 10px}
    button{width:100%; margin:80px 0; padding:15px; background-color: #E9E9FAFF; color: #4949CCFF; border:none; border-radius: 5px; }
    #create-group input{width: 100%; padding: 10px; box-sizing: border-box; border:1px solid gray; border-radius: 5px}
</style>
<body>
<div>
    <h2>그룹 관리</h2>
    <div>
        <h3>내 그룹</h3>
        <ul th:if="${myGroup}">
            <li th:each="group : ${myGroup}" th:text="${group.getGroupName()}">
                <a th:href="@{/f1/group(groupId=${group.getGroupId()})}">그룹 이름</a>
            </li>
        </ul>
    </div>
    <div>
<!--        <p>그룹 검색</p>-->
    </div>
    <div id="create-group">
        <h3>그룹 생성하기</h3>
        <form method="post" th:action="@{/f1/group}">
            <input name="groupName" placeholder="그룹 이름을 입력하세요.">
            <button>생성하기</button>
        </form>
    </div>
</div>
</body>
</html>