<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP</title>
</head>
<style>
    *{ margin: 0; padding: 0; text-decoration: none}
    #login-form{ margin: 0 auto; width:450px}
    h1{ margin: 120px 0 40px 0}
    form div { margin-bottom: 1rem }
    form input {width: 100%; padding: 15px; box-sizing: border-box; border: 1px solid #EFEFEF; border-radius: 5px}
    form button {width: 100%; margin: 20px 0; padding: 15px; border: none; background-color: #e9e9fa; color: #4949cc; border-radius: 5px}
</style>
<body>
<div id="login-form">
    <h1>OTP</h1>
    <form id="loginForm">
        <div>
            <input type="hidden" name="account" id="account" value="klolarion">
            <input name="code" id="code" placeholder="OTP를 입력하세요.">
        </div>
        <button type="button" onclick="submitForm()">전송</button>
    </form>
</div>

<script>
    function submitForm(event) {
        // 기본 폼 제출 동작 방지
        // event.preventDefault();

        const data = {
            code: document.getElementById('code').value,
            account: document.getElementById('account').value
        };

        console.log(JSON.stringify(data));

        fetch('https://almagest-auth.com/api/v1/auth/req', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: 'include',
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    // 헤더에서 토큰 값을 읽어옵니다.
                    const accessToken = response.headers.get('access');
                    const csrfToken = response.headers.get('csrf');

                    // 로컬 스토리지에 저장
                    if (accessToken) {
                        localStorage.setItem('almagest_access', accessToken);
                    } else {
                        console.error('Access token not found in the response headers');
                    }

                    if (csrfToken) {
                        localStorage.setItem('almagest_csrf', csrfToken);
                    } else {
                        console.error('CSRF token not found in the response headers');
                    }

                    return response.json();  // 응답 본문을 JSON으로 파싱
                } else {
                    throw new Error('Authentication failed');
                }
            })
            .then(result => {
                console.log('Authentication successful:', result);
                window.location.href = '/f1';
                // 인증이 성공하면 원하는 작업을 수행 (예: 리다이렉트)
            })
            .catch((error) => {
                console.log(data);
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>