<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<style>
    body{padding: 0 90px; margin: 100px auto; width: 500px}
    button{width:100%; margin:80px 0; padding:15px; background-color: #E9E9FAFF; color: #4949CCFF; border:none; border-radius: 5px; }
</style>
<body>
<div>
    <h2>결제 수단 관리</h2>
    <div>
        <p>내 결제 수단</p>
        <ul>
            <li>계좌1</li>
            <li>계좌2</li>
            <li>계좌3</li>
        </ul>
    </div>
    <div>
        <p>결제 수단 등록하기</p>
        <div>

        </div>

    </div>
    <div>
        <p>친구 추가</p>
    </div>
</div>
</body>
</html>